.card-item {
 display:grid;
 justify-items: center;
 align-items: center;
 margin-block: 20px;
 padding: 10px;
}

.card-item:hover {
    border: 1px solid orange;
    border-radius: 10px;
}



.card-item h2 {
    text-align: center;
}

.card-item .btn {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}

.card-item .btn:hover {
    background-color: darkorange;
}
